<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/stylesheets/styles.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/stylesheets/pygment_trac.css" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper">
      <header>
      {% include site/navigation %}
      </header>
  <body>
      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>&copy; {{ site.author.name }} 2012</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    {% include JB/analytics %}
  </body>
</html>